/*Estilo de la pagina*/
html{
    font-family: sans-serif;
}
body{
    margin: 0 auto;
    margin-top: 20px;
    width: 1000px;
    border: solid black;
}
h1{
    text-align: center;
}
span.validity{
    margin-right: 10px;
}

p#datosGenerales{
    display: flex;
}
input#name, #name2, #name3, fieldset#stateField, #municipalityField{
    margin-right: 15px;
    margin-left: 25px;
}

p#direcciones{
    display: flex;
}
input#street, #zipCode{
    margin-right: 15px;
    margin-left: 25px;
}

div#direcciones2{
    display: flex;
}
select#state{
    margin-right: 15px;
}
fieldset#stateField, #municipalityField{
    width: 250px;
    margin-right: 10px;
}

p#datosExtra{
    display: flex;
}
input#phone{
    margin-right: 15px;
    margin-left: 25px;
}

div#optionalStuff{
    display: flex;
    margin-left: 25px;
}
fieldset#gender, #education{
    width: 400px;
    margin-right: 10px;
}

p#buttons{
    display: flex;
    justify-content: space-between;
    margin: 25px;
}
button#reset{
    width: 200px;
}
button#sendForm{
    margin-left: auto;
    width: 200px;
}

/*Validaciones*/

/*Nombre*/
input#name:invalid+span::after{
    position: absolute;
    content: "✖";
    color:darkred;
}
input#name:valid+span::after{
    position: absolute;
    content: "✓";
    color: darkgreen;
}
/*Apellido paterno*/
input#name2:invalid+span::after{
    position: absolute;
    content: "✖";
    color: darkred;
}
input#name2:valid+span::after{
    position: absolute;
    content: "✓";
    color: darkgreen;
}
/*apellido materno*/
input#name3:invalid+span::after{
    position: absolute;
    content: "✖";
    color: darkred;
}
input#name3:valid+span::after{
    position: absolute;
    content: "✓";
    color: darkgreen;
}
/*calle*/
input#street:invalid+span::after{
    position: absolute;
    content: "✖";
    color: darkred;
}
input#street:valid+span::after{
    position: absolute;
    content: "✓";
    color: darkgreen;
}
/*codigo postal*/
input#zipCode:invalid+span::after{
    position: absolute;
    content: "✖";
    color: darkred;
}
input#zipCode:valid+span::after{
    position: absolute;
    content: "✓";
    color: darkgreen;
}
/*estado*/
select#state:invalid+span::after{
    position: absolute;
    content: "✖";
    color: darkred;
}
select#state:valid+span::after{
    position: absolute;
    content: "✓";
    color: darkgreen;
}
/*Telefono*/
input#phone:invalid+span::after{
    position: absolute;
    content: "✖";
    color: darkred;
}
input#phone:valid+span::after{
    position: absolute;
    content: "✓";
    color: darkgreen;
}