/* ----- ESTILO DE LA PAGINA ----- */

html{ /*Toda la pagina*/
    font-family: sans-serif;
    background-color: gray;
}
body{ /*Cuerpo de la pagina*/
    margin: 0 auto;
    margin-top: 20px;
    width: 1000px;
    border: solid black;
    border-radius: 15px;
    background-color: rgb(244, 244, 244);
}
h1{ /*El texto que dice: Formulario*/
    text-align: center;
}
span.validity{ /*Para todas las validaciones*/
    margin-right: 10px;
}
/*Les da una "sombra" en el input seleccionado*/
input[type=text]:focus{
    background-color: lightblue;
}
input[type=number]:focus{
    background-color: lightblue;
}
input[type=tel]:focus{
    background: lightblue;
}

p#datosGenerales{ /*Contiene: Nombre, Apellidos Paternos y Maternos*/
    display: flex;
}
input#name, #name2, #name3{
    width: 200px;
    height: 20px;
}
input#name, #name2, #name3, fieldset#stateField, #municipalityField{
    margin-right: 15px;
    margin-left: 25px;
}

p#direcciones{ /*Contiene: Calle y Codigo Postal*/
    display: flex;
}
input#street, #zipCode{
    margin-right: 15px;
    margin-left: 25px;
    width: 200px;
    height: 20px
}

div#direcciones2{ /*Contiene: Estado y Municipio*/
    display: flex;
}
select#state{
    margin-right: 15px;
}
fieldset#stateField, #municipalityField{/*Les da esquinas redondas*/
    width: 250px;
    margin-right: 10px;
    border-radius: 5px 15px;
    border-width: 2px;
    border-color: #000000;
}

p#datosExtra{ /*Contiene: Telefono*/
    display: flex;
}
input#phone{
    margin-right: 15px;
    margin-left: 25px;
    width: 200px;
    height: 20px;
}

div#optionalStuff{ /*Contiene: Genero y Educacion*/
    display: flex;
    margin-left: 25px;
}
fieldset#gender, #education{/*Les da esquinas redondas*/
    width: 400px;
    margin-right: 10px;
    border-radius: 5px 15px;
    border-width: 2px;
    border-color: #000000;
}
/*Botones*/
p#buttons{/*Todos los botones*/
    display: flex;
    justify-content: space-between;
    margin: 25px;
}
button#reset{/*El boton "limpiar"*/
    width: 200px;
    height: 35px;
    background-color:darkcyan;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
}
button#reset:hover{/*Al poner el mouse en el boton*/
    box-shadow: 0px 0px 10px #54fcfc;
}

button#sendForm{/*El boton "enviar"*/
    margin-left: auto;
    width: 200px;
    height: 35px;
    background-color:forestgreen;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
}
button#sendForm:hover{/*Al poner el mouse en el boton*/
    box-shadow: 0px 0px 10px #28ff32;
}

/* ----- VALIDACIONES ----- */

/*Nombre*/
input#name:invalid+span::after{
    position: absolute;
    content: "✖";
    color:darkred;
}
input#name:valid+span::after{
    position: absolute;
    content: "✓";
    color: darkgreen;
}
/*Apellido paterno*/
input#name2:invalid+span::after{
    position: absolute;
    content: "✖";
    color: darkred;
}
input#name2:valid+span::after{
    position: absolute;
    content: "✓";
    color: darkgreen;
}
/*apellido materno*/
input#name3:invalid+span::after{
    position: absolute;
    content: "✖";
    color: darkred;
}
input#name3:valid+span::after{
    position: absolute;
    content: "✓";
    color: darkgreen;
}
/*calle*/
input#street:invalid+span::after{
    position: absolute;
    content: "✖";
    color: darkred;
}
input#street:valid+span::after{
    position: absolute;
    content: "✓";
    color: darkgreen;
}
/*codigo postal*/
input#zipCode:invalid+span::after{
    position: absolute;
    content: "✖";
    color: darkred;
}
input#zipCode:valid+span::after{
    position: absolute;
    content: "✓";
    color: darkgreen;
}
/*estado*/
select#state:invalid+span::after{
    position: absolute;
    content: "✖";
    color: darkred;
}
select#state:valid+span::after{
    position: absolute;
    content: "✓";
    color: darkgreen;
}
/*Telefono*/
input#phone:invalid+span::after{
    position: absolute;
    content: "✖";
    color: darkred;
}
input#phone:valid+span::after{
    position: absolute;
    content: "✓";
    color: darkgreen;
}